@import "tailwindcss";

body {
  background-color: #020204;
  color: #ffffff;
}

/* Hilangkan Scrollbar tapi tetap bisa scroll */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* KUSTOMISASI ICON KALENDER AGAR PUTIH */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s;
}
input[type="date"]::-webkit-calendar-picker-indicator:hover {
    opacity: 1;
}