@import "tailwindcss";

body {
  background-color: #020204;
  color: #ffffff;
}

/* Hilangkan Scrollbar tapi tetap bisa scroll */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}